[Desktop Entry]
Version=1.0
Type=Application
Name=remindGui
Exec=/home/lucasmac/Desktop/Test/RemindMe/RemindScompattata/remindGui
Icon=/home/lucasmac/myIcon.png